
.sidebarItem{
  display: flex; 
  /* задает порядок построения элементов - строка */
  flex-direction: row; 
  /* Отвечает за выравнивание элементов по главной оси: Space-around также задаёт одинаковое расстояние между блоками, но теперь расстояние между контейнером и блоками равно половине расстояния между блоками. */
  justify-content: Space-around;
}
h3{
   text-align: center;
   /* все буквы заглавные */
   text-transform: uppercase ;
}