.formControl {
}

.formControl.error input,
.formControl.error textarea {
  border: 1px red solid;
}
.formControl.error span {
  color: red;
}
.formError {
  border: 1px red solid;
  padding: 5px;
  color: red;
  width: 400px;
}
