
/* .header{
grid-area: h;
background-color: rgb(234, 244, 248);
} */
.header img{
width: 90px;
height: 90px;
}
.loginBlock{
   float: right;
   margin: 20px 50px;
}
.loginBlock a{
   color:black;
   font-size: 40px;
}

